# Git Ignore File

# Audio files
audio/*
!audio/test.mp3

# Icecast files

icecast/*
!icecast/conf
icecast/conf/*
!icecast/conf/test

!icecast/Dockerfile
!icecast/icecast.xml.default


# Frontend files

frontend/server/node_modules/*
frontend/server/npm-debug.log

# Liquidsoap Files

liquidsoap/*
!liquidsoap/conf
liquidsoap/conf/*
!liquidsoap/conf/icecast-test.bretzel
liquidsoap/cong/icecast-test.bretzel/*
!liquidsoap/conf/icecast-test.bretzel/test

!liquidsoap/Dockerfile
!liquidsoap/fail.mp3
!liquidsoap/script.liq


# System Files
system/

# Documentation files
documentation/database/radio-bretzel-database-model.mwb.bak
