# Git Ignore File

# API modules
api/node_modules/*

# All Data files
data/*
!data/audio
data/audio/*
!data/audio/ok/test.mp3
!data/audio/ok/test2.mp3
!data/audio/ok/test3.mp3

# Conf files

conf/stream/*
!conf/stream/icecast.xml.default
!conf/stream/test

conf/source/*
!conf/source/fail.mp3
!conf/source/script.liq
!conf/source/stream-test.bretzel

conf/dockerfiles/api/Dockerfile

# Frontend files

frontend/server/node_modules/*
frontend/server/npm-debug.log

# Documentation files
documentation/database/radio-bretzel-database-model.mwb.bak
